.GuessLetter {
  height: 40px;
  width: 40px;
  margin: 5px;
  border: 1.5px solid black;
  font-size: 30px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 400;
}

.correct {
  background-color: green;
}

.exists {
  background-color: goldenrod;
}
